@model AspNetApiControllers.Controllers.Person

@{
    Layout = "_Layout";
}

<form asp-controller="PersonUi" asp-action="Add" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" asp-for="@Model.Name">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="Enter surname" asp-for="@Model.Surname">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
